.row{
  justify-content: center !important;
}

.modelo-tipo{
  font-size: 33px;
  text-align: center;
  background-color: black;
}

.card{
  display: flex;
  border-radius: 0px;
  background-color: rgb(31, 30, 30);
  color: whitesmoke;
  max-height: auto;
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  border-bottom: rgb(235, 230, 70) solid 5px !important;
  box-shadow: 0px 0px 2px 0px black;
  text-shadow: 0px 0px 10px 0px black;
}

.card:hover{
  transform: translateY(-15px);
  box-shadow: 0px 0px 10px #000;
  transition:all .5s ease-in-out;
}

.card p{
  display: flex;
  align-items: center;
  height: 150px;
}

.comprar{
  margin-bottom: 15px;
}

.card h4{
  font-weight: 600;
  padding: 7px;
}

.card a{
  width: auto;
  padding: 7px;
  font-size: 25px;
  text-decoration: none;
  background-color: whitesmoke;
  color: black;
}

.card a:hover{
  box-shadow: 5px 5px 3px 0px rgb(235, 230, 70);
}