form{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn{
  background-color: rgb(235, 232, 70);
  color: black;
}

.btn:hover{
  box-shadow: 0px 0px 4px 0px white;
}

/* en duda */

body{
  background-attachment: fixed;
}


.container{
  min-height: 60vh;
}